{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Blog FIA</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link rel="stylesheet" href="{{STATIC_URL}}css/foundation.css" />
   <link href="{{STATIC_URL}}css/estilo.css" rel="stylesheet">
  <script src="{{STATIC_URL}}js/vendor/modernizr.js"></script>
</head>
<body>
    <header>
        <figure class="insignia">
            <img src="{{STATIC_URL}}img/logo.png" alt="">
        </figure>
        <p >Escuela Academica Profesional</p>
        <h2>Ingeniería de Sistemas</h2>
        <ul data-orbit >
            <li><img class="fotosdes" src="{{STATIC_URL}}img/foto1.png" ></li>
            <li><img class="fotosdes" src="{{STATIC_URL}}img/foto3.png" ></li>
            
			</ul>
        
    </header>
<nav class="top-bar">
    <ul class="title-area">
        <li class="name">
            <h1>
                <a href="">BLOG FIA</a>
            </h1>
        </li>
    </ul>
    <section class="top-bar-section">
        <ul class="right">
            <li>
                <a href="/sobre/">Acerca de</a>
            </li>
            <li>
                <a href="/ingresar/">ingresar</a>
            </li>
        </ul>
    </section>
</nav>

<section>
    <div class="row">
        <div class="large-9 columns">
            {% block contenido%}
            {% for articulo in articulos %}
            <div class="row">
                <div class="large-12-columns">
                    <h3>
                     <a href="/detalle/{{articulo.id}}">{{articulo.titulo}}</a>
                    </h3>
                    <p> Publicado por: <strong>{{articulo.contenido}}</strong> </p>

                </div>
            </div>
            {%endfor%}
            {%endblock %}
        </div>
        <div class="large-3 columns">
            este es un nuevo contenido
        </div>
    </div>
</section>
<div class="row">
  <div class="small-2 columns">2 columns</div>
    <div class="small-10 columns">10 columns</div>
</div>
<div class="row">
      <div class="small-3 columns">3 columns</div>
        <div class="small-9 columns">9 columns</div>
    </div>
  <footer class="row">
    <div class="small-9 large-9 columns">
      <hr/>
      <div class="row">
        <div class="large-6 columns">
          <p>© Derechos Reservados UPeU.</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
    
  <script type="text/javascript" src="{{STATIC_URL}}js/vendor/jquery.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}js/foundation.min.js"></script>
  <script type="text/javascript">
  $(document).foundation();
  </script>
</body>
</html>
